<style type="text/css">
  .bg-new {
    background-color: Wheat !important;
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-new">
  <h2>PlaceShare</h2>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

     <% if user_signed_in? %> 
      <li class="nav-item dropdown active">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Select an option
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/list_of_users">View list of all users</a>
          <a class="dropdown-item" href="/places_shared_by_you">Places shared by you</a>
          <a class="dropdown-item" href="/places_shared_with_you">Places shared with you</a>
          <a class="dropdown-item" href="/share_new_location">Share new location</a>
        </div>
      </li>
     <% end %> 
    </ul>
    

         <div id="user_nav">
           <% if user_signed_in? %>
                <div class="btn-group">
                  <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <%= current_user.email %>
                  </button>
                  <div class="dropdown-menu">  
                      <%= link_to 'Sign out', destroy_user_session_path, :class => "dropdown-item" %>
                  </div>
                </div>
            <% else %>
                <%= link_to 'Sign Up', new_user_registration_path, :class => "btn btn-outline-success my-2 my-sm-0" %> <%= link_to 'Log in', new_user_session_path, :class => "btn btn-outline-success my-2 my-sm-0" %>
            <% end %>
          </div>

  </div>
</nav>